/DESOFT/.vs
.idea
*.lck
/DESOFT/DESOFT.Server/bin/Debug/net8.0/2c146be8b8694dc18b9230f0dede9ca9.sh
/DESOFT/DESOFT.Server/obj/Debug/net8.0/apphost
/DESOFT/DESOFT.Server/bin/Debug/net8.0/Auth0.AspNetCore.Authentication.dll
/DESOFT/DESOFT.Server/bin/Debug/net8.0/Auth0.AuthenticationApi.dll
/DESOFT/DESOFT.Server/bin/Debug/net8.0/Auth0.Core.dll
/DESOFT/DESOFT.Server/bin/Debug/net8.0/Auth0.ManagementApi.dll
/DESOFT/DESOFT.Server/bin/Debug/net8.0/b5c73c5c808846338eb348a7aec0c526.sh
/DESOFT/DESOFT.Server/bin/Debug/net8.0/DESOFT.Server
/DESOFT/DESOFT.Server/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/DESOFT/DESOFT.Server/bin/Debug/net8.0/Newtonsoft.Json.dll
/DESOFT/DESOFT.Server/obj/project.packagespec.json
/DESOFT/DESOFT.Server/obj/rider.project.model.nuget.info
/DESOFT/DESOFT.Server/obj/rider.project.restore.info
